<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

         
 	
 
        <bean id="e1" class="com.masai.Employee">
        <constructor-arg name="employeeId" value="1"/>  
        <constructor-arg name="name" value="Sahil"/> 
        <constructor-arg name="salary" value="50000"/>       
        </bean>
 	
 	
 	    <bean id="e2" class="com.masai.Employee">
        <constructor-arg name="employeeId" value="2"/>  
        <constructor-arg name="name" value="Ram"/> 
        <constructor-arg name="salary" value="70000"/>       
        </bean>
 	
 	

        <bean id="e3" class="com.masai.Employee">
        <constructor-arg name="employeeId" value="3"/>  
        <constructor-arg name="name" value="Raj"/> 
        <constructor-arg name="salary" value="45000"/>       
        </bean>
        
        
        <bean id="e4" class="com.masai.Employee">
        <constructor-arg name="employeeId" value="3"/>  
        <constructor-arg name="name" value="Raj"/> 
        <constructor-arg name="salary" value="45000"/>       
        </bean>
        
        
        <bean id="D" class="com.masai.Department">
           
           <constructor-arg name="depName" value="IT"/>
           <property name="employees">
                   <set>
                    <ref bean="e1"/>
                     <ref bean="e2"/>
                      <ref bean="e3"/>
                
                    <ref bean="e4"/>
                   </set>
           
           </property>           
                      
                           
        </bean>
 	
 	       
   
 
</beans>